h1, h2, h3, h4,h5,h6, a, p,button {
    font-family:"Noto Serif JP", serif;
}
.photo{
    padding:10px;
}
@font-face {
    font-family: "FGMedium";
    src: url("../fonts/FGMediumHankaku.ttf") format("truetype");
}